.centrer-texte {
    text-align: center;
}

.taille-texte {
    font-weight: bold;
    font-size: 26px;
}

.centrer-image {
    display: block;
    margin: auto;
    width: 10%;
}

.espace-haut {
    height: 20px;
}
