<div>

    <app-menu-gauche></app-menu-gauche>
    
    <div class="espace-haut"></div>
    
    <div class="titre">Sélectionnez les restaurants à supprimer :</div>
    
    <table class="largeur-tableau">
    
        <thead class="centrer-texte">
        <tr>
            <th class="a-supprimer">X</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Visité le</th>
            <th>Note</th>
            <th>Nb visites</th>
            <th>Nb comm.</th>
        </tr>
        </thead>
    
        <tbody>
        <ng-container *ngFor="let restaurantVisible of restaurantsVisibles">
            <tr>
                <td>
                    <input type="checkbox" id={{restaurantVisible.nom}} name="restaurantsVisibles"
                    value={{restaurantVisible.restaurantId}} [(ngModel)]="check"
                    (change)="cocher($event, check)" [ngClass]="{'ligne-a-supprimer': check === true}" />
                </td>
                <td [ngClass]="{'ligne-a-supprimer': check === true}" class="texte-en-gras largeur-colonne-nom">{{restaurantVisible.nom}}</td>
                <td [ngClass]="{'ligne-a-supprimer': check === true}" class="largeur-colonne-adresse">{{restaurantVisible.adresse}}</td> 
                <td [ngClass]="{'ligne-a-supprimer': check === true}" class="centrer-texte">{{restaurantVisible.dateDerniereVisite}}</td>
                <td [ngClass]="{'ligne-a-supprimer': check === true}" *ngIf="restaurantVisible.note" class="centrer-texte largeur-colonne-note">{{restaurantVisible.note}} / 5</td>
                <td [ngClass]="{'ligne-a-supprimer': check === true}" *ngIf="!restaurantVisible.note" class="centrer-texte largeur-colonne-note">-</td>
                <td [ngClass]="{'ligne-a-supprimer': check === true}" class="centrer-texte">{{restaurantVisible.nombreVisite}}</td>
                <td [ngClass]="{'ligne-a-supprimer': check === true}" *ngIf="restaurantVisible.nombreCommentaire" class="centrer-texte largeur-colonne-note">{{restaurantVisible.nombreCommentaire}}</td>
                <td [ngClass]="{'ligne-a-supprimer': check === true}" *ngIf="!restaurantVisible.nombreCommentaire" class="centrer-texte largeur-colonne-note">-</td>
            </tr>
        </ng-container>
        </tbody>
    
    </table>
    
    <nav aria-label="Pagination liste restaurants" class="centrer-pagination">
        <ul *ngIf="nombreRestaurantTotal > 5" class="pagination">
        <li class="page-item bouton-pagination"><a class="page-link pointeur" [ngClass]="{'cache': pageEnCours === 1}" (click)="pagePrecedente()"><<  Précédent</a></li>
        <!-- TODO rendre la pagination dynamique -->
        <li class="page-item bouton-pagination"><a class="page-link pointeur" [ngClass]="{'cache': pageEnCours === pageMax}" (click)="pageSuivante()">Suivant  >></a></li>
        </ul>
    </nav>
    
    <div class="espace-haut"></div>

    <span class="margin-bouton">
        <input class="bouton-supprimer-restaurant {{supprimerSelection}}" type="submit"  
                name="bouton-supprimer-restaurant" id="bouton-supprimer-restaurant"
                value="Supprimer la sélection" (click)="supprimerRestaurant()"
        />
    </span>
    
    <div class="espace-haut"></div>
    
    </div>
    