.fond-footer {
    background-color: rgb(204, 233, 229);
}

.texte-footer {
    font-weight: bold;
    font-size: 18px;
}

.ancrage-footer {
    position: absolute; 
    bottom: 0;
}

.centrer-texte-vertical {
    margin: auto;
    line-height: 80px;
}

.texte-gauche {
    text-align: left;
    margin-left: 5%;
    display: inline;
}

.texte-droite {
    text-align: right;
    margin-right: 5%;
    float: right;
}
