<div class="centrer-texte taille-texte">
  Ajouter un commentaire !
</div>

<img class="centrer-image" src="assets/images/bla-bla.jpg" alt="plus vert"/>

<div class="centrer-texte taille-texte">
  Bientôt ...
</div>

<div class="centrer-formulaire">
  <form (ngSubmit)="onSubmit(commentaire)" #commentaire="ngForm">

    <div>
      <label class="titre-formulaire" for=auteur>Auteur : </label>
      <input type="text" name="auteur" id="auteur" required/>
    </div>

    <div>
      <label class="titre-formulaire" for="texte">Commentaire : </label>
      <input type="textarea" name="texte" id="texte" required />
    </div>

    <input type="submit" value="Envoyer le commentaire" [disabled]="commentaire.invalid" (click)="mettreDansLeTableau(); commentaire.reset()" />
  </form>
</div>