<div class="fond">
  <router-outlet></router-outlet>

  <nav>
    <a routerLink="/liste" routerLinkActive="active">Liste des restaurants </a>
    <a routerLink="/" routerLinkActive="active">Accueil </a>
  </nav>
</div>
<!-- <div class="fond">
  <div>
    <img class="centrer-image" src='/src/assets/images/restaumobile.jpg' />
  </div>
  <br />
  <h1>Aller vers :</h1>
<nav>
  <a routerLink="/liste" routerLinkActive="active">Liste des restaurants </a>
  <a routerLink="/" routerLinkActive="active">Accueil </a>
</nav>
<router-outlet></router-outlet>
  <input type="button" value="Test" class="bouton centrer-image" (click)="test()" />
</div> -->