.fond {
    background-color: rgb(204, 233, 229);
}

.toute-la-page {
    min-height: 100%;
}

.centrer-texte {
    text-align: center;
}

.centrer-image {
    display: block;
    margin: auto;
    width: 0%;
}

.bouton {
    height: 25px;
    width: 50px;
    background-color: red;
    font-weight: bold;
}