.centrer {
    display: block;
    margin: auto;
}

.centrer-texte {
    text-align: center;
}

a:link {
    text-decoration: none;
}

.fond-fiche {
    border: 2px solid red;
    background-color: whitesmoke;
}

.margin-fiche {
    margin: auto;
    width: 60%;
}

.titre-fiche {
    font-weight: bold;
    font-size: 28px;
}

.categories-fiche {
    font-weight: bold;
    font-size: 20px;
}

.taille-reponse {
    font-size: 20px;
}

.margin-categories {
    margin: 20px;
}

.margin-commentaires {
    margin-left: 10px;
    margin-right: 10px;
}

.aligner-gauche {
    text-align: left;
    margin-left: 5%;
    display: inline;
}

.centrer-bouton {
    margin: auto;
 }

.bouton-ajouter-note {
    background-color: rgb(129, 121, 12);
    color: white;
    width: 180px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
}

.bouton-ajouter-note:hover {
    background-color: rgb(160, 158, 65);
}

.bouton-ajouter-commentaire {
    background-color: rgb(4, 9, 59);
    color: white;
    width: 180px;
    height: 30px;
    cursor: pointer;
    margin-top: 30px;
}

.bouton-ajouter-commentaire:hover {
    background-color: rgb(43, 44, 80);
}