<div>
  <table class="largeur-tableau">

    <thead>
      <tr>
        <th>Nom</th>
        <th>Adresse</th>
        <th>Visité le</th>
        <th>Note</th>
        <th>Nb visites</th>
        <th>Nb comm.</th>
        <th>Détail</th>
      </tr>
    </thead>

    <tbody>
      <ng-container *ngFor="let restaurant of restaurants">
        <tr>
          <td class="texte-en-gras">{{restaurant.nom}}</td>
          <td>{{restaurant.adresse}}</td> 
          <td class="centrer-texte">{{restaurant.dateDerniereVisite}}</td>
          <td class="centrer-texte">{{restaurant.note}} / 5</td>
          <td class="centrer-texte">{{restaurant.nombreVisite}}</td>
          <td class="centrer-texte">{{restaurant.nombreCommentaire}}</td>
          <td class="centrer-texte">
            <a [routerLink]="['/liste', restaurant.restaurantId]"><app-bouton></app-bouton></a>
          </td>
        </tr>
      </ng-container>
    </tbody>

  </table>
  <br />

  <div class="fond-footer texte-footer">
      <div class="centrer-texte-vertical aligner-gauche">
          <a routerLink="/ajouter-restaurant" routerLinkActive="active">
            <input type="button" value="Ajouter un restaurant" class="bouton-ajouter" />
          </a>
      </div>
      <div class="centrer-texte-vertical aligner-gauche">
          <a routerLink="/supprimer-restaurant" routerLinkActive="active">
            <input type="button" value="Supprimer un restaurant" class="bouton-supprimer" />
          </a>
      </div>
  </div>
 
</div>