.menu-gauche {
    width: 200px;
}
  
.menu-gauche a {
    background-color: rgb(204, 233, 229);
    color: black;
    display: block;
    padding: 12px;
    text-decoration: none;
}

.menu-gauche a:hover {
    background-color: #ccc;
}

.menu-gauche a.active {
    background-color: rgb(176, 196, 177);
    color: white;
}

.aligne {
    float: left;
}

.titre-menu {
    text-align: center;
    background-color: rgb(132, 148, 133);
    font-weight: bold;
    font-size: 20px;
}